Conectar Python a Cassandra en Docker

In [1]:
from cassandra.cluster import Cluster

cluster = Cluster(['localhost'], port=9042)

session = cluster.connect()

session.execute("""
CREATE KEYSPACE IF NOT EXISTS test_keyspace 
WITH REPLICATION = { 'class' : 'SimpleStrategy', 'replication_factor' : 1 }
""")

session.execute("USE test_keyspace")

session.execute("""
CREATE TABLE IF NOT EXISTS dataset_falso (
    nombre text,
    direccion text,
    correo text PRIMARY KEY,
    telefono text,
    fecha_nacimiento date,
    empresa text,
    numero_tarjeta text,
    fecha_vencimiento text,
    codigo_postal text
)
""")

Carga de Datos en la Tabla

In [2]:
import csv

with open('dataset_falso.csv', 'r', encoding='utf-8') as csvfile:
    reader = csv.DictReader(csvfile)
    for row in reader:
        session.execute("""
        INSERT INTO dataset_falso (nombre, direccion, correo, telefono, fecha_nacimiento, empresa, numero_tarjeta, fecha_vencimiento, codigo_postal)
        VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s)
        """, (
            row['Nombre'],
            row['Dirección'],
            row['Correo'],
            row['Teléfono'],
            row['Fecha de nacimiento'],
            row['Empresa'],
            row['Número de tarjeta'],
            row['Fecha de vencimiento'],
            row['Código postal']
        ))

Verificación de los Datos Cargados

In [6]:
rows = session.execute("SELECT * FROM dataset_falso LIMIT 10")
for row in rows:
    print(row)

Row(correo='zbonilla@example.net', codigo_postal='41159', direccion='Alameda Dimas Esteve 83\nToledo, 39639', empresa='Rosalina Gaya Bolaños S.L.N.E', fecha_nacimiento=Date(-10946), fecha_vencimiento='11/29', nombre='Bruno del Bou', numero_tarjeta='4910858994417154', telefono='+34948567661')
Row(correo='emmaboix@example.org', codigo_postal='31890', direccion='Vial de Calixto Barreda 54\nBaleares, 31716', empresa='Hermanos Moliner S.A.', fecha_nacimiento=Date(-2054), fecha_vencimiento='03/30', nombre='Abril Lago Valle', numero_tarjeta='4712966667600830', telefono='+34 876 028 439')
Row(correo='inmaculada49@example.com', codigo_postal='42278', direccion='Cuesta Sandra Pera 218 Piso 1 \nCuenca, 30446', empresa='Distribuciones Españolas S.C.P', fecha_nacimiento=Date(8410), fecha_vencimiento='08/30', nombre='Leandro Araujo Peiró', numero_tarjeta='213117298068656', telefono='+34825438889')
Row(correo='montanajose-antonio@example.com', codigo_postal='07545', direccion='Camino de Rico Pera 4 Piso 0 \nSalamanca, 15507', empresa='Hermanos Fonseca S.C.P', fecha_nacimiento=Date(-2124), fecha_vencimiento='11/31', nombre='Teresa Balaguer Cabello', numero_tarjeta='4080869782922168', telefono='+34 979008860')
Row(correo='anabelvalencia@example.com', codigo_postal='33930', direccion='Via de Lola Mas 646 Piso 4 \nCantabria, 28554', empresa='Huertas y asociados S.Coop.', fecha_nacimiento=Date(6854), fecha_vencimiento='08/34', nombre='Alba Mar Flor Rivas', numero_tarjeta='573315410064', telefono='+34 977 34 54 01')
Row(correo='emari@example.org', codigo_postal='20663', direccion='Cañada de Marcia Nicolás 35\nMálaga, 42499', empresa='Banca Privada KH S.L.L.', fecha_nacimiento=Date(13185), fecha_vencimiento='08/32', nombre='Clotilde del Cazorla', numero_tarjeta='38547812914287', telefono='+34 964647154')
Row(correo='natanael16@example.net', codigo_postal='17447', direccion='Acceso de Lucía Coloma 31\nCantabria, 12370', empresa='Manufacturas CX S.A.', fecha_nacimiento=Date(-10475), fecha_vencimiento='01/26', nombre='Vera Bayona Hidalgo', numero_tarjeta='4110809969309', telefono='+34 881 799 371')
Row(correo='primitivomalo@example.org', codigo_postal='12574', direccion='Cañada de Pastor Calleja 383\nCeuta, 08092', empresa='Despacho IY S.Com.', fecha_nacimiento=Date(1452), fecha_vencimiento='02/34', nombre='Amador Tapia Valverde', numero_tarjeta='3508588770435811', telefono='+34921047735')
Row(correo='xpelaez@example.com', codigo_postal='01551', direccion='Urbanización Heraclio Almagro 323\nSevilla, 08496', empresa='Suministros Española S.L.', fecha_nacimiento=Date(3094), fecha_vencimiento='09/30', nombre='Marco Donoso Hierro', numero_tarjeta='374679970246293', telefono='+34947 87 83 39')
Row(correo='angelnoriega@example.net', codigo_postal='32230', direccion='Glorieta de Quirino Saez 74 Puerta 8 \nCáceres, 14087', empresa='Comercial Suarez y asociados S.L.', fecha_nacimiento=Date(-6888), fecha_vencimiento='08/33', nombre='Adelia de Benet', numero_tarjeta='5138862912799084', telefono='+34803 965 610')

Consultas de ejemplo

In [ ]:

# 1. Consultar todas las filas de la tabla
print("Consulta: Todas las filas")
rows = session.execute("SELECT * FROM dataset_falso LIMIT 5")
for row in rows:
    print(row)

# 2. Consultar una fila específica por el correo (clave primaria)
correo = 'ejemplo@correo.com'
print("\nConsulta: Fila específica por correo")
rows = session.execute("SELECT * FROM dataset_falso WHERE correo = %s", (correo,))
for row in rows:
    print(row)

# 3. Consultar los nombres y correos de los usuarios mayores de 50 años
print("\nConsulta: Nombres y correos de usuarios mayores de 50 años")
rows = session.execute("SELECT nombre, correo FROM dataset_falso WHERE fecha_nacimiento < '1973-01-01' ALLOW FILTERING")
for row in rows:
    print(row)

# 4. Contar el número total de registros en la tabla
print("\nConsulta: Contar número total de registros")
rows = session.execute("SELECT COUNT(*) FROM dataset_falso")
for row in rows:
    print(f"Total de registros: {row[0]}")

# 5. Consulta de empresas únicas en la tabla
print("\nConsulta: Empresas únicas")
rows = session.execute("SELECT empresa FROM dataset_falso GROUP BY empresa")
for row in rows:
    print(row.empresa)

# Cerrar la conexión
cluster.shutdown()

Consulta: Todas las filas
Row(correo='zbonilla@example.net', codigo_postal='41159', direccion='Alameda Dimas Esteve 83\nToledo, 39639', empresa='Rosalina Gaya Bolaños S.L.N.E', fecha_nacimiento=Date(-10946), fecha_vencimiento='11/29', nombre='Bruno del Bou', numero_tarjeta='4910858994417154', telefono='+34948567661')
Row(correo='emmaboix@example.org', codigo_postal='31890', direccion='Vial de Calixto Barreda 54\nBaleares, 31716', empresa='Hermanos Moliner S.A.', fecha_nacimiento=Date(-2054), fecha_vencimiento='03/30', nombre='Abril Lago Valle', numero_tarjeta='4712966667600830', telefono='+34 876 028 439')
Row(correo='inmaculada49@example.com', codigo_postal='42278', direccion='Cuesta Sandra Pera 218 Piso 1 \nCuenca, 30446', empresa='Distribuciones Españolas S.C.P', fecha_nacimiento=Date(8410), fecha_vencimiento='08/30', nombre='Leandro Araujo Peiró', numero_tarjeta='213117298068656', telefono='+34825438889')
Row(correo='montanajose-antonio@example.com', codigo_postal='07545', direccion='Camino de Rico Pera 4 Piso 0 \nSalamanca, 15507', empresa='Hermanos Fonseca S.C.P', fecha_nacimiento=Date(-2124), fecha_vencimiento='11/31', nombre='Teresa Balaguer Cabello', numero_tarjeta='4080869782922168', telefono='+34 979008860')
Row(correo='anabelvalencia@example.com', codigo_postal='33930', direccion='Via de Lola Mas 646 Piso 4 \nCantabria, 28554', empresa='Huertas y asociados S.Coop.', fecha_nacimiento=Date(6854), fecha_vencimiento='08/34', nombre='Alba Mar Flor Rivas', numero_tarjeta='573315410064', telefono='+34 977 34 54 01')

Consulta: Fila específica por correo

Consulta: Nombres y correos de usuarios mayores de 50 años
Row(nombre='Bruno del Bou', correo='zbonilla@example.net')
Row(nombre='Abril Lago Valle', correo='emmaboix@example.org')
Row(nombre='Teresa Balaguer Cabello', correo='montanajose-antonio@example.com')
Row(nombre='Vera Bayona Hidalgo', correo='natanael16@example.net')
Row(nombre='Adelia de Benet', correo='angelnoriega@example.net')
Row(nombre='Víctor Angulo Murillo', correo='felisa47@example.org')
Row(nombre='Soraya Núñez Lamas', correo='sdiaz@example.com')
Row(nombre='Priscila de Mesa', correo='edgardo49@example.net')
Row(nombre='Jennifer Carrillo', correo='francisco-javiernebot@example.net')
Row(nombre='Buenaventura Huerta-Jódar', correo='hfolch@example.org')
Row(nombre='Alfonso Mendez Pastor', correo='jafet44@example.net')
Row(nombre='Ruben del Ramírez', correo='nsobrino@example.com')
Row(nombre='Buenaventura de Bonet', correo='luchopalau@example.org')
Row(nombre='Juan Luis Rocha-Galán', correo='iglesiaharoldo@example.net')
Row(nombre='Anita Hortensia Yáñez Molina', correo='cvall@example.org')
Row(nombre='Abril Portero Lara', correo='imacias@example.org')
Row(nombre='Francisca Solé Ángel', correo='nadiapardo@example.net')
Row(nombre='Camila Barberá', correo='cvarela@example.net')
Row(nombre='Renato Guzmán Delgado', correo='anastasia01@example.com')
Row(nombre='Verónica del Cortes', correo='lucio19@example.net')
Row(nombre='Macario Grau Giménez', correo='florina39@example.com')
Row(nombre='Casemiro Garrido-Navarro', correo='cristian15@example.net')
Row(nombre='Calixta del Luján', correo='canetgraciano@example.org')
Row(nombre='José Luis Camino Martín', correo='romulo78@example.com')
Row(nombre='Toni de Elorza', correo='wprat@example.org')
Row(nombre='María Fernanda Flor', correo='ibenavent@example.com')
Row(nombre='Tito Canals Coronado', correo='guadalupe51@example.net')
Row(nombre='Julieta Teruel García', correo='nhernando@example.net')
Row(nombre='Diana Benet Salazar', correo='crescencia53@example.org')
Row(nombre='Hector Castro-Marín', correo='dvives@example.org')
Row(nombre='Daniel de Neira', correo='andradeceferino@example.org')
Row(nombre='Celia Baños-Arroyo', correo='ramisprudencio@example.net')
Row(nombre='Nazario Marí Calleja', correo='tenoriofrancisco@example.net')
Row(nombre='Arturo Roda Lloret', correo='tbarrios@example.org')
Row(nombre='Andrés Felipe Barral Granados', correo='valencianotamara@example.net')
Row(nombre='Leonel Alberdi-Carbó', correo='domingofont@example.org')
Row(nombre='Pánfilo Segovia Casanovas', correo='victoriano05@example.net')
Row(nombre='Eugenio Royo Cruz', correo='casandra95@example.com')
Row(nombre='Toribio de Pinto', correo='iarana@example.org')
Row(nombre='Asdrubal Caballero', correo='matiasmontana@example.net')
Row(nombre='Nazaret Perea Ríos', correo='valverdefelipa@example.org')
Row(nombre='Constanza del Barba', correo='pmiralles@example.com')
Row(nombre='Clemente de Sanabria', correo='cletoayuso@example.com')
Row(nombre='Eloísa Rocha Torrecilla', correo='rosaeloy@example.com')
Row(nombre='Aitana Escobar Márquez', correo='aristides41@example.com')
Row(nombre='Glauco Cuéllar Abascal', correo='sandovaladelaida@example.net')
Row(nombre='César Guerrero Vazquez', correo='ysabater@example.com')
Row(nombre='Ruy Roca Bartolomé', correo='tatiana42@example.net')
Row(nombre='Ani Marcos Pardo', correo='ollobet@example.org')
Row(nombre='Paco Rocamora Nieto', correo='iescribano@example.com')
Row(nombre='Rosario Hurtado Lasa', correo='vjerez@example.com')
Row(nombre='Clementina Paca Novoa Frutos', correo='amir@example.org')
Row(nombre='Anita Estevez', correo='paola99@example.org')
Row(nombre='Héctor Español Lopez', correo='pripoll@example.org')

Consulta: Contar número total de registros
Total de registros: 100

Consulta: Empresas únicas

InvalidRequest: Error from server: code=2200 [Invalid query] message="SELECT DISTINCT queries must only request partition key columns and/or static columns (not empresa)"